body,
html {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    overflow: visible;
}

body {
    font-family: 'Alegreya Sans', 'Alegreya';
    font-size: 100%;
    min-width: 320px;
}

.social {
    clear: both;
}

.nav__item {
    padding: 0;
}

header,
nav,
footer,
section,
article,
div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.header__inner {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 30%;
}

.nav {
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid rgba(192, 192, 192, .5);
    border-top: 2px solid rgba(192, 192, 192, .5);
    display: block;
}

.logo {
    width: 100%;
    margin: 50px 0 50px 0;
}

#sc1 {
    & ul {
        display: flex;
        width: 100%;
        & li {
            flex: 1 1 100%;
        }
    }
}

#sc1 li {
    /*    display: inline-block;*/
}

.nav__item {

    align-content: stretch;
    justify-content: space-around;
    text-transform: uppercase;
    flex-grow: 1;
    margin: 1rem;
    text-align: center;
    padding: 0.8em;
}

.nav a {
    text-decoration: none;
    color: #426f87;
    font-size: 1.3em;
    font-family: 'Alegreya';
}

.active a {
    padding-bottom: 15px;
    border-bottom: 4px solid red;
}

a:visited {
    text-decoration: none;
}

.nav a:hover {

    /* TO DOOoooo*/
}

.nav__list {
    display: flex;
    flex-grow: 1;
    width: 100%;
    list-style-type: none;
    flex-wrap: wrap;
}

.li-fa {
    display: inline-block;
    color: white;
    font-family: 'Alegreya Sans';
    font-size: 1.3em;
}

.li-fa i {
    padding: 0 4px 0 4px;
}

.li-fa a {
    color: white;
}

a {
    text-decoration: none;
}

.banner {
    display: block;
    margin: 50px auto;
    text-align: center;
    width: 90%;
    height: auto;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.trim {
    display: block;
    margin: 50px auto;
    text-align: center;
    background-color: rgb(164, 106, 147);
    padding: 4%;
}

.trim h1 {
    color: white;
}

.flex-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 90%;
    margin: 50px auto;
    padding: 0;
}

.col {
    flex-wrap: wrap;
    font-family: 'Alegreya Sans';
    width: 30%;
}

.left {
    order: 1;
    flex-basis: 100%;
}

.middle {
    order: 1;
    flex-basis: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.right {
    order: 1;
    flex-basis: 100%;
}

.col {

    /*flex-grow: 1;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 20px;
    font-family: 'Alegreya Sans';
    width: 30%;*/
}

phone {
    position: relative;
    /* Helps us control overlap */
    padding-left: 25px;
    /* Creates space for the Phone Icon */
}

phone:after {
    content: '\f095';
    font-family: fontAwesome;
    position: absolute;
    left: 0;
    /* Adjust as needed */
    top: 0px;
    /* Adjust as needed */
}

question {
    position: relative;
    /* Helps us control overlap */
    padding: 25px;
    /* Creates space for the Phone Icon */
}

question:after {
    content: '\f059';
    font-family: fontAwesome;
    position: absolute;
    left: 0;
    /* Adjust as needed */
}

email {
    position: relative;
    /* Helps us control overlap */
    padding-left: 25px;
    /* Creates space for the Phone Icon */
}

email:after {
    content: '\f0e0';
    font-family: fontAwesome;
    position: absolute;
    left: 0;
    /* Adjust as needed */
    top: 0px;
    /* Adjust as needed */
}

facebook {
    position: relative;
    /* Helps us control overlap */
    padding-left: 25px;
    /* Creates space for the Phone Icon */
}

facebook:after {
    content: '\f09a';
    font-family: fontAwesome;
    position: absolute;
    left: 0;
    /* Adjust as needed */
    top: 0px;
    /* Adjust as needed */
}

img {
    width: 100%;
}

.col img {
    margin: 0 0 10px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    padding-top: 5px;
}

.col-title {
    text-align: center;
    font-size: 1.3em;
    font-family: 'Alegreya';
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 15px;
    line-height: 1.4em;
    display: block;
}

.blue {
    /*    color: #426f87;*/
    color: rgb(105, 105, 105);
}

.blue .panel {
    background-color: rgba(67, 111, 135, 0.7);
    color: white;
}

.blue .panel .accordion {
    background-color: red;

}

.lila .panel {
    background-color: rgb(164, 106, 147, 0.7);
    color: white;
}

.lila {
    color: rgb(105, 105, 105);
}

.grey {
    color: rgb(105, 105, 105);
}

.color1 {
    border-top: 5px solid #426f87 !important;
}

.color2 {
    border-top: 5px solid rgb(164, 106, 147) !important;
}

.color3 {
    border-top: 5px solid rgb(105, 105, 105) !important;
}

.color4 {
    border-top: 5px solid blue !important;
}

.caption {
    margin: 0 auto;
}

.btn-holder {
    justify-content: flex-end;
    width: 100%;
    text-align: center;
}

.links a {
    padding: 10px;
    display: inline-block;
    color: white;
    font-family: 'Alegreya Sans';
}

.text-button {
    font-size: 1.2em;
    line-height: 1.4em;

}

.about {
    padding: 50px 160px;
    font-size: 2em;
    line-height: 1.3em;
}

/*button {
    width: 50%;
    margin: 11px 0 0;
    padding: 10px 30px;
    border: none;
    color: white;
    background-color: #a46a93;
    border-radius: 2px;
    font-size: 1em;
}*/

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(164, 106, 147);
    padding: 2px 0 0px 0;
    margin-top: 50px;

}

.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid white;
    padding: .5rem 1.5rem;
}

.cont ul {
    margin: 0 0 10px;
}

.cont li {
    padding: 5px;
    display: inline-block;
}

footer li:last-of-type {
    margin: 0;
}

.social {
    color: white;
    min-width: 200px;
    flex: 1;
    text-align: right;
}

.social a {
    color: white;
}

.copyright {
    flex: 1;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    color: white;
    border-top: 1px solid white;
    background-color: #764a6c;

}

.topline {
    right: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #a46a93;
    height: 50px;
    line-height: 50px;
}

.faq {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 5px solid white;
    border-radius: 100px;
    background: white;
    color: #a46a93;
    margin-right: 10px;
    line-height: 20px;
}

.address {
    font-size: 1.3em;
}

.address-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 50px 0;
}

.center {
    position: relative;
    /* where the next element will be automatically positioned */
    height: 350px;
    margin: 0 50px;
    margin-bottom: 80px;
    /* centers image/element on "left: 50%" position */
}

.map {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    padding-top: 0px;
    overflow: hidden;
    background: white;
    border-top: 1px solid darkgrey; 
}

#map {
    border: 1px solid wheat;
    height: 300px;
    width: 100%;
}

.links-div {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

<!-- gallery-- > .gallery {
    width: 90%;
    margin: 50px auto;

}

<!-- contact form-- > @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {}

.container {
    max-width: 100%;
    width: 80%;
    margin: 0px 30px;
    position: relative;
    flex: 0 1 auto;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px Helvetica, sans-serif;
}

#contact {
    background: #FFF;
    padding: 25px;
    margin: 20px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 80%;
}


#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    font-family: 'Alegreya Sans';
    color: #a46a93;
    ;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}



/* STYLES for different devices */

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .col {
        width: 100%;
        font-size: 1.3em;
        margin-bottom: 50px;
        text-align: center;

    }
    .accordion {
        font-size: 1.6em!important;
    }

    .text-button,
    .button-holder {
        width: auto;
    }

    .flex-grid {
        width: 84%;
        flex-direction: column;
        font-size: 1em;
        margin: 50px auto;
    }

    .nav__item {
        margin: 0;
        padding: 0.8em;
        font-size: 0.9em;

    }
    .links {
        flex: unset;
    }

    .social {
        flex: unset;
    }

    .copyright {
        order: 3;
        flex-basis: 100%;
    }
    .text-button {
        font-size: 1.3em;
    }

    .panel,
    p {
        font-size: 1.2em;
        line-height: 1.25em;
    }

    .middle {
        margin: 0;
    }

    .right {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .about {
        padding: 50px;
        font-size: 1.8em;
    }
}

.faq {
    display: inline-block;
    border: 1px solid white;
    border-radius: 100px;
    background: white;
    color: purple;
    margin-right: 10px;
    line-height: 20px;
}


/** mobile **/

@media only screen and (max-width: 767px) {

    .container #address {
        text-align: center;
    }

    nav {
        text-align: center;
    }

    .nav__item {
        display: block;
        align-items: center;
        margin: 0.3rem;
    }

    .nav__list {
        display: inherit;
    }

    .col {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .banner {
        width: 90%;
    }


    .links-div {
        flex-direction: column;
        margin: 50px 0;
    }

    .container {
        width: 90%;
        margin-top: 50px;
    }

    #contact {
        max-width: 80%;
        margin: 0 auto;
    }

    #map {
        width: 100%;
    }
    .links {
        width: 100%;
        flex-basis: 100%;
    }

    #address {
        margin-top: 30px;
        order: 1;
        max-width: 80%;
        margin: 0 auto;
    }

    .cont li {
        display: block;
        margin: 0;
        padding: 0;
    }
    .cont {
        display: inherit;
        height: auto;
    }

    .social {
        flex-basis: 20%;
        margin-bottom: .5rem;
        padding: 10px;
        text-align: center;
    }

    .li-fa {
        font-size: 1em;
    }

    #contact h3 {
        font-size: 1.2em;
    }
    .flex-grid {
        flex-direction: column;
        font-size: 1.3em;
        margin-top: 0px;
    }

    img {
        width: 100%;
    }
    .about {
        padding: 20px;
        font-size: 1.3em;
    }
    .text-button {
        font-size: 1em;
    }

    .middle {
        margin: 0px;
        padding: 0px;
    }
    .logo {
        margin: 10px auto;
    }
}



/*FAQ ONLY*/

.cd-faq {
    color: #2b4959;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.accordion {
    font-family: 'Alegreya Sans';
    background-color: #426f87;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3em!important;
    transition: 0.4s;
}

.panel {}

.active,
.accordion:hover {
    background-color: rgba(66, 111, 135, 0.92);
}

.panel p {}

.panel {
    margin: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.2em;
    line-height: 1.3em;

}

.fa-angle-center {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}

/**media za typography/
